<div class="popover__wrapper">
  <div class="popover__content">
    <h1>Privacy verified</h1>

    <p>
      Trust Observer is a third-party assurance company. We have verified the following for
      <span class="name">...</span>
    </p>

    <p class="email_frequency">Loading</p>
    <p class="ease_of_unsubscribe">Loading</p>
    <p class="email_kept_private">Loading</p>

    <table>
      <tbody>
        <tr>
          <td>Clicks to unsubscribe</td>
          <td class="clicks_to_unsubscribe">Loading</td>
        </tr>
        <tr>
          <td>Emails after unsubscribe</td>
          <td class="emails_after_unsubscribe">Loading</td>
        </tr>
        <tr>
          <td>Emails from 3rd parties</td>
          <td class="third_party_emails">Loading</td>
        </tr>
      </tbody>
    </table>

    <p>Email Volume:</p>

    <table>
      <tbody>
        <tr>
          <td>First week</td>
          <td class="first_week_emails">Loading</td>
        </tr>
        <tr>
          <td>Last 3W average</td>
          <td class="trailing_average_emails">Loading</td>
        </tr>
      </tbody>
    </table>

    <p>Last verified at:
      <span class="last_verified_at">...</span>
    </p>
  </div>
</div>
